
<div class="body">
  <div class="header row m-0">
    <div class="col-lg-2 col-md-2 p-0">
        <div class="heading">
          <div class="pl-3 pr-3 pt-3 pb-3">
              <h4 class="pb-0 mb-0">zomato</h4>
              <span class="font-12 text-uppercase">Menu dashboard</span>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 p-0 one-edge-shadow border-bottom">
        <form class="input-group-btn  d-flex pl-3 pr-3 pt-3 pb-3 searchBar">
          <input type="text" class="form-control" placeholder="Search by Category,item name" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fal fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <br><br><br>
    <!-- <app-topnav></app-topnav> -->
  <div class="row mr-0 mt-2">
    <div class="col-lg-2 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 col-md-10 m-0 pr-0">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


