<div class="sidebar body-section p-0 fixed-position">
    <!-- <div class="heading">
        <div class="pl-3 pr-3 pt-3 pb-3">
            <h4 class="pb-0 mb-0">zomato</h4>
            <span class="font-12 text-uppercase">Menu dashboard</span>
        </div>
    </div> -->
    <div class="pt-3 pb-1 pl-3 pr-3">
        <select class="select2 form-control custom-select">
            <option>Select</option>
            <optgroup label="Dinner">
                <option value="AK">Food</option>
                <option value="HI">Food</option>
            </optgroup>
        </select>    
        
        <br>

        <div class="res-body">
            <img src="../../assets/images/sandwich.jpg" alt="restaurant image" style="height:15%;width:75%;" />
            <h5 class="pt-1 pb-1">Pokket Cafe</h5>
            <span>Shop 15/7,SPRJ Kanyashala Trust,RatanChintamani</span><br>
            <span>+919702442444</span><br>
            <span>+919702442444</span><br><br>

            <span class="pt-5">RES ID : 19167367</span>
        </div>

    </div>

    <div class="vertical-menu pt-0 mt-0">
        <a routerLink="/charges" routerLinkActive="active"><i class="fal fa-bars border p-1 mr-2"></i>Charges</a>
        <a routerLink="/menu" routerLinkActive="active"><i class="fas fa-utensils border p-1 mr-2"></i>Delivery Menu</a>
        <a routerLink="/meal" routerLinkActive="active"><i class="far fa-salad border p-1 mr-2"></i>Meals for One</a>
        <a routerLink="/help" routerLinkActive="active"><i class="fal fa-info-circle font-12 p-1 mr-2"></i>Help</a>
    </div>

</div>