.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.heading{
    color:#fff;
    background-color: #e23744;
}

.heading h5{
    font-weight: 700;
    font-style:italic;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -10px grey;
       -moz-box-shadow: 0 8px 6px -10px grey;
            box-shadow: 0 8px 6px -10px grey;
}

.searchBar input[type=text]{
    border:none;
    background-color: #edf1f2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size:12px !important;

}

button.btn.btn-default{
    background-color: #edf1f2;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size:12px !important;
}

.input-group-btn{
    width:50%;
}

.form-control:focus {
    box-shadow:0 0 0 0 rgb(0 123 255 / 25%) !important;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
}